@import '../../_variables.sass'

.store-back-button
  color: $base-dark-green
  -webkit-text-fill-color: $base-tan
  -webkit-text-stroke-width: 2.00px
  text-decoration: none
  font-size: 29px
  font-family: $flow-block
  text-transform: uppercase
  z-index: 9
  &:hover
    color: $store-green

.active
  color: $base-tan
  -webkit-text-fill-color: $base-dark-green

#titleLogo
  position: absolute
  top: 20px
  left: 50px
  z-index: 11
  height: 150px

.color-line
  height: 100px
  border-radius: 0px 0px 100px 0px
  width: 100% !important
  background: url(../../assets/images/wall.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-position-y: -45px
  @media screen and (min-width: 800px)
    background-position-y: -150px
  @media screen and (max-width: 600px)
    margin-bottom: 30px
    width: 100% !important
    border-radius: 0px 0px 100px 0px

.videoElement
  height: 100%
