<div class="container">
  <img
    src="../../assets/images/stateOfFlow3dTan.png"
    alt="Flow State Flower Logo"
    id="titleLogo"
  />
  <div class="col-md-12 text-right">
    <a
      routerLinkActive="active"
      routerLink="/home"
      class="btn store-back-button"
    >
      Home Website
    </a>
  </div>
  <div class="col-md-12 col-lg-10 m-auto">
    <div class="text-center mt-5 mb-5 store-back-button">BoSSe</div>
    <video class="col-md-12" id="videoElement"></video>
  </div>
</div>

