@import '../../_variables.sass'

footer
  background-color: $base-brown
  border-top: 2px solid $base-orange
  width: 100%
  height: 100%
  position: static

.text-style
  color: $base-orange
  border-bottom: 1px solid $base-orange
  padding: 15px
  font-family: $font-fancy
  -webkit-text-stroke-width: .75px
  -webkit-text-stroke-color: black

.footer-section
  &__title
    color: $base-yellow
    font-size: 20px
    @media screen and (max-width: 400px)
    margin-top: -10px

  &__paragraph
    color: $base-orange
    font-size: 18px
    font-family: $label-cursive-font
    -webkit-text-stroke-width: 0
    @media screen and (max-width: 700px)
     font-size: 20px
    @media screen and (max-width: 400px)
     font-size: 22px

.nav-links
  color: $base-tan
  font-size: 22px
  font-weight: bold
  font-family: $label-cursive-font
  padding-bottom: 20px !important
  padding-right: 20px !important
  text-decoration: none
  &:hover
    color: #ad3636
    text-decoration: none
    cursor: pointer
  @media screen and (max-width: 400px)
     font-size: 28px

.active
  color: $base-dark-green
