<footer>
  <div class="container">
    <div class="row pt-3 pb-3 text-style justify-content-between">
      <div class="col-sm-3 p-2">
        <h5 class="footer-section__title" (click)="goToFooter()">Stay Connected</h5>
        <p class="footer-section__paragraph">
          Keep in touch with us through social media!
        </p>
        <div class="row text-center">
          <!-- <div class="col-3" (click)="goToFacebook()">
            <i class="fa fa-facebook fa-2x"></i>
          </div> -->
          <div class="col-3 text-success" (click)="goToInstagram()">
            <i class="fa fa-instagram fa-2x"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-3 p-2">
        <h5 class="footer-section__title" (click)="goToFooter()">The world is a better place with you in it!</h5>
        <p class="footer-section__paragraph">
          Humans all have something they love to do. Reaching the state of flow. The mental state which a person is performing fully immersed in a feeling of energized focus, full involvement, and enjoyment of the process.
        </p>
      </div>
      <div class="col-sm-3 p-2">
        <h5 class="footer-section__title" (click)="goToFooter()">Navigate</h5>
        <div class="row text-center">
          <div class="col">
            <div
              class="col nav-links"
              routerLinkActive="active"
              routerLink="/home"
              (click)="topScrollAndCollapse()"
            >
              <a class="">Home</a>
            </div>
            <div
              class="col nav-links"
              routerLinkActive="active"
              routerLink="/our-story"
              (click)="topScrollAndCollapse()"
            >
              <a class="">Our Story</a>
            </div>
            <div
              class="col nav-links"
              routerLinkActive="active"
              routerLink="/athletes"
              (click)="topScrollAndCollapse()"
            >
              <a class="">Team</a>
            </div>
            <div
              class="col nav-links"
              routerLinkActive="active"
              routerLink="/services"
              (click)="topScrollAndCollapse()"
            >
              <a class="">Services</a>
            </div>
            <div
              class="col nav-links"
              routerLinkActive="active"
              routerLink="/shop"
              (click)="topScrollAndCollapse()"
            >
              <a class="">Store</a>
            </div>
          </div>
          <div class="col">
            <div
              class="col nav-links"
              routerLinkActive="active"
              routerLink="/media"
              (click)="topScrollAndCollapse()"
            >
              <a class="">Media</a>
            </div>
            <div
              class="col nav-links"
              routerLinkActive="active"
              routerLink="/calender"
              (click)="topScrollAndCollapse()"
            >
              <a class="">Calender</a>
            </div>
            <div
              class="col nav-links"
              routerLinkActive="active"
              routerLink="/connect"
              (click)="topScrollAndCollapse()"
            >
              <a class="">Connect</a>
            </div>
            <div
              class="col nav-links"
              routerLinkActive="active"
              routerLink="/blog"
              (click)="topScrollAndCollapse()"
            >
              <a class="">Blog</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-10 text-center text-style">
        <div class="row justify-content-center text-center">
          <div class="col-sm-3 text-danger">
            Flow State Fly
          </div>
          <i class="fa fa-space-shuttle" aria-hidden="true"></i>
          <div class="col-sm-3 text-warning">
            Florida Based
          </div>
          <i class="fa fa-motorcycle" aria-hidden="true"></i>
          <div class="col-sm-4 text-success">
            Flowstateflying@gmail.com
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- <div class="col-sm-6 text-center text-style">
        Sitemap
      </div> -->
      <div class="col-sm-6 text-center text-style">
        &copy; Flow State Fly
      </div>
    </div>
  </div>
</footer>
