@import '../../../../../_variables.sass'

.back-button
    font-family: $flow-block

.text-bordered
    color: $base-tan
    -webkit-text-fill-color: $store-light-green
    -webkit-text-stroke-width: 1.00px
    letter-spacing: 1px
    font-size: 25px
    @media screen and (max-width: 570px)
        margin-bottom: 20px

.product-image
    border-radius: 5px
    height: 400px
    z-index: 1
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-color: $store-green
    margin-left: 100px
    margin-bottom: 0px
    margin-top: 0px
    margin-right: 0px
    @media screen and (max-width: 1200px)
        margin-left: 50px
    @media screen and (max-width: 570px)
        margin-left: 30px
    &:hover
        z-index: 3

.product-info
    border-radius: 5px
    z-index: 2
    margin-top: 140px
    margin-bottom: 0px
    margin-left: -400px
    margin-right: 0px
    height: 300px
    background-color: $store-green
    @media screen and (max-width: 1200px)
        margin-left: -200px
    @media screen and (max-width: 570px)
        margin-left: 30px
        margin-top: 10px

.about-the-products
    border-top: 1px solid $store-dark-red
    height: 100%
    padding: 20px
    margin-top: 40px
    margin-left: 12px
    text-align: center
    @media screen and (max-width: 1000px)
        margin-left: 0px
        text-align: left
        border-radius: 2px
        border-top-right-radius: 70%
    @media screen and (max-width: 400px)
        margin-left: 12px
        text-align: center
        border-top-right-radius: 2px

.about-the-products-title
    color: $base-tan
    -webkit-text-fill-color: $store-light-green
    -webkit-text-stroke-width: 2.00px
    letter-spacing: 1px
    text-decoration: none
    font-family: $flow-block
    text-transform: uppercase
    font-size: 50px
    @media screen and (max-width: 420px)
        font-size: 30px

.about-the-products-text
    font-family: $flow-block
    font-size: 21px
    color: $base-dark-green
    -webkit-text-fill-color: $base-tan
    -webkit-text-stroke-width: 2.20px
    letter-spacing: .8px

.quantity-input
    font-size: 20px

.quantity-btn
    background-color: $store-light-green
    opacity: 1
    font-family: $flow-block
    font-size: 15px
    letter-spacing: 1px
    border: 1px solid $store-dark-red
    color: $base-tan
    -webkit-text-fill-color: $base-dark-green
    -webkit-text-stroke-width: 0.5px
    text-decoration: none
    text-transform: uppercase
    margin-top: 10px
    width: 100%
    &:hover
        color: $base-tan
        border-top: 3px solid $store-dark-red  
    @media (max-width: 770px)