<div class="row about-the-products">
  <div>
    <a 
      (click)="goBackToPreviousPage()">
      <i 
        class="text-bordered btn fa fa-arrow-left">
        <span class="back-button">
          Go Back</span>
      </i>
    </a>
  </div>
  <h2 class="col-sm-12 about-the-products-title">{{ product.name }}</h2>
  <div class="col-sm-12 row about-the-products-text justify-content-center">
    <div class="col-sm-2">
      {{ product.price | currency}}
    </div>
    <div class="col-sm-5 row justify-content-center">
      <div class="col-sm-7">
        Quantity: 
      </div>
      <div class="col-sm-6">
        <input class="quantity-input form-control" type="number" [(ngModel)]="quantity">
      </div>
    </div>
    <div class="col-sm-3">
      <a (click)="addToCart(productId, quantity)" class="quantity-btn btn">Add To Cart</a>
    </div>
  </div>
</div>
<div class="description-wrapper row justify-content-around">
  <div [style.backgroundImage]="'url(../' + product.imageUrl + ')'" class="product-image col-sm-5">
  </div>
  <div class="product-info col-sm-5">
    <div class="col-sm-12">
      {{ product.desc }}
    </div>
  </div>
</div>