<div class="wrapper container">
  <div class="row justify-content-center">
    <div class="heading-frame col-11">
      <h2 class="text-uppercase">
        Flow <br/> State
      </h2>
    </div>
  </div>
  <div class="container lower-margin-for-footer">
    <div class="row justify-content-center">
    </div>

    <div class="row justify-content-center">
      <div class="col-11">
          <app-cards></app-cards>
      </div>
    </div>
  </div>
</div>
