@import '../../../_variables.sass'

.wrapper
  background-color: $base-dark-green
  background: #333 url(../../../assets/images/tubeSunset.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  max-width: 100%
  @media screen and (max-width: 745px)
    background-position: right

.heading-frame
  margin-top: 15px
  display: grid
  border: 3px solid $base-orange
  border-radius: 0px 50px
  -webkit-box-shadow: 3px 1px 22px 4px rgba(0,0,0,0.75)
  -moz-box-shadow: 3px 1px 22px 4px rgba(0,0,0,0.75)
  box-shadow: 3px 1px 22px 4px rgba(0,0,0,0.75)
  background: #333 url(../../../assets/images/logoCircles.png) center
  filter: grayscale(50%)
  background-size: cover
  height: 300px
  padding: 2rem
  @media screen and (min-width: 500px)
    height: 500px
    grid-template-columns: max-content auto
    grid-template-rows: auto max-content
  @media screen and (min-width: 800px)
    background-position: 0px -200px
  @media screen and (min-width: 1180px)
    background-position: 0px -250px
  &:before,
  &:after
    content: ""
    display: block
    width: 100%
    height: 100%
    border: 1px solid $base-orange

  &:before
    grid-row: 1 / 2
    border-right: none
    border-bottom: none

  &:after
    grid-row: 1 / span 2
    border-left: none

  h2
    margin: 150px 1rem -.5rem 0
    font-family: $font-fancy
    -webkit-background-clip: text
    -webkit-text-stroke-width: 6px
    -webkit-text-stroke-color: $base-orange
    color: $base-dark-green
    letter-spacing: 10px
    font-size: 160px
    max-width: 100%
    margin-top: -100px
    text-shadow: -20px 15px black
    @media screen and (max-width: 600px)
      font-size: 50px !important
      margin-top: 125px !important
    &:hover
      margin-left: 10px
      margin-bottom: 10px
      text-shadow: -30px 25px black
      @media screen and (max-width: 780px)
        text-shadow: -25px 20px black
    @media screen and (max-width: 780px)
      margin: 50px 1rem -.5rem 0
      font-size: 95px
      -webkit-text-stroke-width: 4px
      text-shadow: -15px 10px black


