<div class="images-row row">
    <div class="col-sm-12 col-sm-6 col-md-6 storefront-image d-flex align-items-end justify-content-center pb-5">
        <div class="">
            <a [routerLink]="['/shop/products']" class="btn homepage-product-button">Check Out Our Products Page</a>
        </div>
    </div>
</div>
<app-store-home-cards></app-store-home-cards>
<div class="row text-center about-the-store">
    <h2 class="col-sm-12 about-the-store-title">Welcome to the Flow State Online Store</h2>
    <p class="col-sm-12 about-the-store-text">
        A collection of high quality products, cultivated with members of Flow State Flying.
        We enjoy working together with our team and other artists to brainstorm designs.
        With the focus around the Flow State Fly Movement this includes everything including flow.
        Help support us to continue to grow and create!
    </p>
</div>
