@import '../../../_variables.sass'

.storefront-image
  height: 450px
  background: url(../../../assets/images/wall-sketch-website.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-position-y: -100px
  border-radius: 5px
  margin-top: 50px
  margin-bottom: 50px
  margin-left: 20px
  z-index: 3
  @media screen and (max-width: 580px)
    width: 90% !important
    margin: auto
    margin-top: 90px

.images-row
  border-top: 1px solid $store-dark-red
  z-index: 1
  background: #333 url(../../../assets/images/alex-angle-sepia.jpg)
  background-repeat: no-repeat
  background-position-y: -150px
  background-size: cover
  background-attachment: fixed
  z-index: 1
  @media screen and (max-width: 1270px)
    background-position-y: -50px
  @media screen and (max-width: 1030px)
    background-position-y: 0px
  @media screen and (max-width: 400px)
    background-position-x: -300px

.homepage-product-button
  border: 0.5px solid $store-dark-red
  font-family: $flow-block
  font-size: 18px
  letter-spacing: 1.5px
  color: $store-dark-red
  background-color: $store-green
  opacity: .95
  -webkit-text-fill-color: $store-light-green
  -webkit-text-stroke-width: 1.30px
  text-decoration: none
  &:hover
    border-color: $store-green
    color: $store-green
    background-color: $store-light-green

.about-the-store
  border-top: 1px solid $store-dark-red
  background-color: $store-green
  height: 100%
  padding: 20px

.about-the-store-title
  color: $base-dark-green
  -webkit-text-fill-color: $base-tan
  -webkit-text-stroke-width: 2.00px
  text-decoration: none
  font-family: $flow-block
  text-transform: uppercase

.about-the-store-text
  font-family: $flow-block
  font-size: 16px
  color: $store-dark-red
  -webkit-text-fill-color: $store-light-green
  -webkit-text-stroke-width: 0.55px
  letter-spacing: .8px
