<div class="row justify-content-center">
  <div
    class="athlete-card col-lg-5 col-md-11 col-sm-11 p-3 m-4 text-center"
    *ngFor="let athlete of athletes"
  >
    <div
      class="team-member-photo"
      [style.backgroundImage]="'url(../' + athlete.imageUrl + ')'"
    ></div>

    <div class="row">
      <div class="athlete-name text-center col-12">{{ athlete.name }}</div>
    </div>
    <div class="row">
      <div class="athlete-excerpt col-sm-12">
        {{ athlete.excerpt }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 flex-column social-media-links-row ml-auto m-2">
        <div
          class="social-media-links  profile-link"
          [routerLink]="['/athletes', athlete.id]"
          (mouseover)="changeText=true" (mouseout)="changeText=false">
          <span *ngIf="changeText">About {{ athlete.nickName }}</span>
          <span *ngIf="!changeText">
              <i class="fa fa-user fa-2x"></i>
          </span>
        </div>
        <div
          class="social-media-links instagram-link"
          (click)="goToInstagram(athlete.instagramUrl)">
          <i class="fa fa-instagram fa-2x"></i>
        </div>
        <div
          class="social-media-links facebook-link"
          (click)="goToInstagram(athlete.facebookUrl)">
          <i class="fa fa-facebook  fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
</div>
