@import '../../../../_variables.sass'

@keyframes picture-slide
  0%

  100%
    margin-top: 80px
    margin-left: -17px
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1)
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1)
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1)
    border: 10px double $base-yellow

@keyframes picture-slide-mobile
  0%

  100%
    margin-top: 190px
    margin-left: -17px
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1)
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1)
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1)
    border: 10px double $base-yellow




$instagram: #007bb5
$facebook: #55acee

.athlete-card
  min-height: 400px
  width: 100%
  background-color: white
  border: 2px solid $base-yellow
  -webkit-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
  -moz-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
  box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)

.athlete-name
  font-size: 40px
  font-family: $label-cursive-font
  color: $base-dark-orange

.athlete-excerpt
  font-size: 19px
  font-family: $label-cursive-font
  color: $base-dark-green
  margin-top: -10px

.social-media-links-row
  margin: 50px
  height: 60px


.social-media-links
  border-radius: 25px
  text-align: center
  height: 100%
  padding-top: 15px
  margin-bottom: 20px
  cursor: pointer
  width: 75%
  margin-left: auto
  @media screen and (max-width: 400px)
    margin-top: -15px
    margin-bottom: 45px
  &:hover
    -webkit-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
    box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
    background-color: $base-dark-green
    color: $base-orange
    border: 2px solid $base-brown


.team-member-photo
  height: 300px
  width: 80%
  position: absolute
  margin-top: 120px
  margin-left: -40px
  background-size: cover
  border: 2px solid $base-dark-green
  -webkit-box-shadow: 21px -41px 0px 0px rgba(0,0,0,1)
  -moz-box-shadow: 21px -41px 0px 0px rgba(0,0,0,1)
  box-shadow: 21px -41px 0px 0px rgba(0,0,0,1)
  animation: picture-slide 2s linear both
  animation-play-state: paused

  @media screen and (max-width: 600px)
    background-position: right
  @media screen and (max-width: 400px)
    height: 200px
    margin-top: 200px
    margin-left: -40px
    animation: picture-slide-mobile 2s linear both
  &:hover
    animation-play-state: running

.profile-link
  background-color: $base-orange
  color: white
  &:hover

.facebook-link
  background-color: $facebook
  color: white
  &:hover


.instagram-link
  background-color: $instagram
  color: white
  &:hover

