@import '../../../../_variables.sass'

.top-product-row
  background-color: $store-light-green
  height: 100%


.top-products
  height: 100%
  min-height: 300px
  background-color: $store-green
  border-top: 1px solid $store-dark-red
  @media screen and (max-width: 575px)
    margin-left: 30px !important

.home-card-title
  color: $base-dark-green
  -webkit-text-fill-color: $base-tan
  -webkit-text-stroke-width: 2.00px
  text-decoration: none
  font-size: 20px
  font-family: $flow-block
  text-transform: uppercase

.card-text
  font-family: $flow-block
  font-size: 15px
  letter-spacing: 1px
  color: $store-dark-red
  -webkit-text-fill-color: $store-light-green
  -webkit-text-stroke-width: 0.5px

.card-link
  font-family: $flow-block
  font-size: 15px
  letter-spacing: 1px
  border: 2px solid $store-light-green
  color: $base-tan
  -webkit-text-fill-color: $base-dark-green
  -webkit-text-stroke-width: 0.5px
  text-decoration: none
  text-transform: uppercase
  width: 100%
  margin-top: auto
  &:hover
    border: 2px solid $store-green

footer
  margin-top: 1000px !important
