<div class="row top-product-row justify-content-center">
  <div 
    [@onScrollIntoView]="cardsInView ? true : false" 
    *ngFor="let product of topProducts"
    class="card text-right pl-2 m-3 p-3 col-sm-4 col-md-4 col-lg-3 top-products">
    <div class="card-body">
      <div class="card-title home-card-title">{{ product.name }}</div>
      <p class="card-text">{{ product.desc }}</p>
    </div>
    <div class="card-body">
      <a 
        (click)="goToPage(product.link, $event)"
        class="card-link btn"
        >{{ product.link }}
      </a>
    </div>
  </div>
</div>