@import '../../../../_variables.sass'


.athleteDetailContainer
  height: 100%
  background-color: $base-brown
  padding: 30px

.detail-title
  font-family: $label-cursive-font
  color: $base-dark-orange
  margin-top: 20px
  font-size: 50px

.detail-under-title
  font-family: $label-cursive-font
  color: $base-orange
  margin-top: 20px
  font-size: 20px
  @media screen and (max-width: 574px)
      font-size: 30px

.container
  border: 7px double $base-dark-green
  border-radius: 10px
  -webkit-box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  -moz-box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  background-color: $base-tan
  opacity: .75
  margin-bottom: 100px

.picture
  height: 400px
  z-index: 0
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border: 4px solid $base-yellow
  border-radius: 10px
  -webkit-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
  -moz-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
  box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)

.introduction
  font-family: $label-cursive-font
  color: $base-dark-green
  margin-bottom: 20px
  font-size: 24px
  @media screen and (max-width: 450px)
      font-size: 40px

.back-button
  height: 40px
  color: $base-tan
  background-color: $base-dark-green
  &:hover
    color: $base-orange
    -webkit-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
    box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)


