<div class="athleteDetailContainer lower-margin-for-footer">
  <div class="container lower-margin-for-footer">
    <div class="row mt-3 p-2">
      <div class="col-12">
          <span routerLink="/athletes"><a class="pl-2 btn back-button" routerLink="/athletes"><i class="fa fa-arrow-left"> Team Page</i></a></span>
      </div>
      <div class="col text-center">
        <h3 class="detail-title">A little about {{ athlete.name }}</h3>
        <p class="detail-under-title">some people know him as {{ athlete.name }}, but commonly called '{{ athlete.nickName }}'</p>
      </div>
    </div>
    <div class="row justify-content-center mt-3 p-2">
        <div class="col-md-6 col-sm-11 text-left">
            <div
              class="picture ml-auto p-2"
              [style.backgroundImage]="'url(../' + athlete.imageUrl + ')'"
              alt="athlete picture"
            ></div>
          </div>
      <div class="introduction col-md-6 col-sm-11 text-left">
        {{ athlete.introduction }}
      </div>
    </div>
  </div>
</div>
