<div class="mediaContainer lower-margin-for-footer">
    <div class="container lower-margin-for-footer">
      <div class="row justify-content-center mt-3">
        <h3 class="no-media">No Media Uploaded at this time. Working on adding this in shortly</h3>
      </div>
      <div class="row justify-content-center mt-3">
          <p class="no-media-text">Open to collaboration for future projects. Working on building content for this section. Bare with us.</p>
      </div>
    </div>
  </div>

