@import '../../../_variables.sass'

.mediaContainer
  height: 100%
  background-color: $base-brown

.container
  border: 7px double $base-dark-green
  border-radius: 10px
  -webkit-box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  -moz-box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  height: 100vh
  background-color: $base-tan
  opacity: .75
  margin-bottom: 100px


.no-media
  font-family: $label-cursive-font
  color: $base-dark-green
  margin-top: 50px
  &:hover
    color: purple
    font-size: 2em

.no-media-text
  font-family: $label-cursive-font
  font-size: 16px
  color: $base-dark-green
