@import '../../../_variables.sass'

.ourStoryContainer
  min-height: 100% !important
  background-color: $base-brown

.container
  border: 7px double $base-dark-green
  border-radius: 10px
  background-color: $base-tan
  opacity: .75

.our-story-big-row
  height: 400px

.our-story-big-col
  display: flex
  justify-content: center
  align-items: center
  font-family: $flow-font
  color: transparent
  letter-spacing: 4px


.words
  font-size: 72px
  color: red
  text-shadow: -2px 5px black

.box-image
  background: url(../../../assets/images/belly-round.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  @media screen and (max-width: 745px)
    background-position: right
  @media screen and (max-width: 500px)
    background-position: left -600px bottom -150px

header
  position: relative
  background-image: url(../../../assets/images/dancing-walk.webp)
  background-repeat: no-repeat
  background-size: 25%
  background-position: center
  height: 75%
  min-height: 25rem
  width: 100%
  overflow: hidden
  margin-bottom: 30px
  border-bottom: 2px solid $base-dark-green
  border-top: 2px solid $base-dark-green


header video
  position: absolute
  top: 50%
  left: 50%
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  z-index: 0
  -ms-transform: translateX(-50%) translateY(-50%)
  -moz-transform: translateX(-50%) translateY(-50%)
  -webkit-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)


header .overlay
  position: absolute
  box-shadow: 0 0 0 99999px #000000a6
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 100
  border-radius: 45%
  border: 2px solid $base-dark-orange


@media (pointer: coarse) and (hover: none)
  header
    background: url('../../../assets/images/amirMobile.jpg') black no-repeat center center scroll

  header video
    display: none

.text-overlay
  position: absolute
  top: 200px
  flex: flex
  justify-content: center
  width: 100%
  z-index: 2

.text-overlay h3
  color: $base-tan
  font-weight: bold
  font-family: $flow-font
  font-size: 50px
  padding-left: 20px
  letter-spacing: 4px

.about-us-story-title
  font-family: $flow-font
  font-size: 50px
  color: red
  @media screen and (max-width: 400px)
    margin-top: 150px

.about-us-story
  font-family: $label-cursive-font
  font-size: 30px
  margin-bottom: 0px
  height: 100%
  white-space: pre-wrap
  padding-left: 20px
  padding-right: 20px

.about-us-paragraph
  margin-bottom: -10px
  padding-top: 30px
  padding-bottom: 30px

.story-container
  position: relative
  height: 100%
