<div class="ourStoryContainer lower-margin-for-footer">
  <header>
    <div class="overlay"></div>
    <video playsinline="false" preload="auto" autoplay="autoplay" onloadedmetadata="this.muted=true" loop="loop">
      <source src="../../assets/videos/amirAngle.mov" type="video/mp4" />
    </video>
    <div class="text-overlay">
      <h3>Let Us Share The Sky</h3>
    </div>
  </header>
  <div class="container lower-margin-for-footer">
    <div class="row our-story-big-row mb-5">
      <div class="col our-story-big-col box-image">
        <p class="words">What</p>
      </div>
      <div class="col our-story-big-col box-image">
        <p class="words">Makes</p>
      </div>
      <div class="col our-story-big-col box-image"><p class="words">Up</p></div>
      <div class="col our-story-big-col box-image">
        <p class="words">Flow</p>
      </div>
      <div class="col our-story-big-col box-image">
        <p class="words">State</p>
      </div>
    </div>
    <div class="row justify-content-center mt-3 pt-5">
      <h3 class="about-us-story-title">Our Origin Story</h3>
    </div>
    <div class="row justify-content-center story-container">
      <div class="about-us-story">
        <p>{{originStory}}</p>
      </div>
    </div>
  </div>
</div>
