<app-nav-bar></app-nav-bar>
<p *ngIf="updateForServiceWorker === true">
    <ngb-alert class="info-bar text-center" type='success' (close)="closeAlert()">New version available. Load New Version...
      <button class="btn btn-outline-success" (click)="updateSW()">Reload</button>
    </ngb-alert>
</p>

<div class="router-wrapper" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
  
<app-footer></app-footer>



