<div class="calenderContainer lower-margin-for-footer">
  <div class="container lower-margin-for-footer">
    <div class="row mt-3 p-2">
      <div class="col text-center">
        <h3 class="calender-title">
          Connect to our google calender below
          <div>
            contact form at the bottom to reserve time.
          </div>
        </h3>
      </div>
    </div>
    <div class="row justify-content-center mt-3">

      <div class="col-11 text-center">
        <div class="spinner-border text-danger" role="status" id="iframe-loading-calender" style="width: 400px; height: 400px;">
          <span class="sr-only">Loading...</span>
        </div>
        <iframe
          title="flow state calender"
          class="calender"
          src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23e8cf76&amp;ctz=America%2FNew_York&amp;src=NGt1MjdhNDY5OXJjYWhvNjBtNGs4aXBoYzRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%234285F4&amp;showTitle=1&amp;showNav=1&amp;showDate=1"
          style="border-width:0"
          width="100%"
          height="500"
          frameborder="0"
          scrolling="no"
          onload="document.getElementById('iframe-loading-calender').style.display = 'none';"
        ></iframe>
        <div class="spinner-border text-warning" role="status" id="iframe-loading-mobile-calender" style="width: 400px; height: 400px;">
          <span class="sr-only">Loading...</span>
        </div>
        <iframe
          title="flow state mobile calender"
          class="mobileCalender"
          src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23e8cf76&amp;ctz=America%2FNew_York&amp;src=NGt1MjdhNDY5OXJjYWhvNjBtNGs4aXBoYzRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%234285F4&amp;showTitle=1&amp;showNav=1&amp;showDate=1&amp;mode=AGENDA&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1"
          style="border-width:0"
          width="100%"
          height="600"
          frameborder="0"
          scrolling="no"
          onload="document.getElementById('iframe-loading-mobile-calender').style.display = 'none';"
        ></iframe>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-11 text-center">
        <div class="spinner-border text-success" role="status" id="iframe-loading-calender-contact" style="width: 400px; height: 400px;">
          <span class="sr-only">Loading...</span>
        </div>
        <iframe
          title="flow state contact about calender"
          src="https://docs.google.com/forms/d/e/1FAIpQLSci4G1q17lrOuORVNLp5iadqTNj1WvlmFq9OsGvO_596aMMEQ/viewform?embedded=true"
          width="100%"
          height="1260"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          onload="document.getElementById('iframe-loading-calender-contact').style.display = 'none';"
          ></iframe
        >
      </div>
    </div>
  </div>
</div>
