@import '../../../_variables.sass'


.calenderContainer
  height: 100%
  background-color: $base-brown

.calender-title
  font-family: $label-cursive-font
  color: $base-dark-green
  margin-top: 20px
  font-size: 2em

.container
  border: 7px double $base-dark-green
  border-radius: 10px
  -webkit-box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  -moz-box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  height: 100%
  background-color: $base-tan
  opacity: .75
  margin-bottom: 100px

.calender
  @media screen and (max-width: 600px)
    display: none

.mobileCalender
  @media screen and (min-width: 600px)
    display: none
