<div class="price-container lower-margin-for-footer">
  <div class="container lower-margin-for-footer">
    <div class="row justify-content-center">
      <h2 class="price-title">Offered Services</h2>
    </div>
    <div class="row" *ngFor="let skyProduct of skyProducts">
      <div
        *ngIf="skyProduct.id % 2 === 1"
        class="sky-products col-md-5 left-image"
        [style.backgroundImage]="'url(../' + skyProduct.imageUrl + ')'"
      ></div>
      <div
        *ngIf="skyProduct.id % 2 === 1"
        class="sky-products-title-left sky-products-title"
      >
        <h2>{{ skyProduct.service }}</h2>
      </div>
      <div
        *ngIf="skyProduct.id % 2 === 0"
        class="pricing-cards col-md-8 col-sm-11 d-flex flex-column"
      >
        <h3 class="card-description">{{ skyProduct.description }}</h3>
        <h4 class="offered-types">Currently offered types :</h4>
        <div *ngFor="let type of skyProduct.types" class="card-types">
          <div>
            {{ type }}
          </div>
          <br />
        </div>
      </div>
      <div
        *ngIf="skyProduct.id % 2 === 1"
        [class.sky-products-left]="skyProduct.id % 2 === 1"
        class="pricing-cards col-md-8 col-sm-11 d-flex flex-column"
      >
        <h3 class="card-description">{{ skyProduct.description }}</h3>
        <h4 class="offered-types">Currently offered types :</h4>
        <div *ngFor="let type of skyProduct.types" class="card-types">
          <div>
            {{ type }}
          </div>
          <br />
        </div>
      </div>
      <div
        *ngIf="skyProduct.id % 2 === 0"
        class="sky-products-title-right sky-products-title"
      >
        <h2>{{ skyProduct.service }}</h2>
      </div>
      <div
        *ngIf="skyProduct.id % 2 === 0"
        class="sky-products col-md-5"
        [class.sky-products-right]="skyProduct.id % 2 === 0"
        [style.backgroundImage]="'url(../' + skyProduct.imageUrl + ')'"
      ></div>
    </div>
  </div>
</div>
