@import '../../../_variables.sass'


.price-container
  height: 100%
  background-color: $base-brown

.price-title
  margin-top: 20px
  margin-bottom: 40px
  margin-left: 20px
  font-size: 40px
  font-family: $font-fancy
  color: $base-orange
  letter-spacing: 2px

.container
  border: 7px double $base-tan
  border-radius: 10px
  height: 100%
  background-color: $base-dark-green
  opacity: .75
  -webkit-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
  -moz-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
  box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
  margin-bottom: 100px

.pricing-cards
  border-radius: 5px
  min-height: 300px
  margin: 30px
  max-width: 75%
  background-color: $base-tan
  color: $base-dark-green
  opacity: .80
  -webkit-box-shadow: 0px 0px 70px -7px rgb(0,0,0)
  -moz-box-shadow: 0px 0px 70px -7px rgb(0,0,0)
  box-shadow: 0px 0px 70px -7px rgb(0,0,0)
  z-index: 2

.card-description
  margin-top: 20px
  margin-left: 20px
  font-size: 25px
  font-family: $label-cursive-font
  color: $base-dark-green
  font-weight: bold
  letter-spacing: 2px

.card-types
  margin-top: 5px
  margin-left: 40px
  font-size: 18px
  font-family: $font-fancy
  color: $base-orange
  font-weight: lighter
  letter-spacing: 2px

.offered-types
  font-size: 18px
  font-family: $font-fancy
  color: $base-orange
  font-weight: lighter
  letter-spacing: 2px
  margin-top: 20px

.services-btn
  border-width: 2px
  border-color: $base-orange
  border-style: dashed solid
  border-radius: 35%
  width: 75%
  background-color: $base-tan
  color: $base-orange
  font-family: $font-fancy
  letter-spacing: 3px

  &:hover
    border-style: none dashed
    border-color: $base-tan
    background-color: $base-orange
    color: $base-tan

.sky-products-right
  margin-left: -20%
  @media screen and (max-width: 770px)
    margin-left: -60%
    max-width: 60% !important

.sky-products-left
  margin-left: -20%
  @media screen and (max-width: 770px)
    margin-left: -50%
  @media screen and (max-width: 409px)
    margin-left: -55%

.left-image
  margin-left: 6%
  @media screen and (max-width: 770px)
    max-width: 60% !important



.sky-products
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 300px
  max-width: 40%
  border: 3px solid $base-orange
  z-index: 0
  border-radius: 10px
  -webkit-box-shadow: 0px 0px 70px -7px rgb(0,0,0)
  -moz-box-shadow: 0px 0px 70px -7px rgb(0,0,0)
  box-shadow: 0px 0px 70px -7px rgb(0,0,0)

.sky-products-title
  color: $base-tan
  font-size: 100px
  font-weight: bold
  font-family: $font-fancy
  letter-spacing: 4px
  -webkit-text-fill-color: $base-orange
  -webkit-text-stroke-width: 2.00px
  @media screen and (max-width: 409px)
    font-size: 20px
  @media screen and (max-width: 900px)

.sky-products-title-left
  z-index: 99
  position: absolute
  right: 25%
  margin-top: -17px
  @media screen and (max-width: 770px)
    right: 20%
  @media screen and (max-width: 409px)
    right: 10%


.sky-products-title-right
  z-index: 99
  position: absolute
  left: 20%
  margin-top: -17px
  @media screen and (max-width: 770px)
    left: 16%
  @media screen and (max-width: 409px)
    left: 10%
  @media screen and (max-width: 370px)
    left: 0%

