<div class="connectContainer lower-margin-for-footer">
  <div class="container lower-margin-for-footer">
    <div class="row mt-3 p-2">
      <div class="col text-center">
        <h3 class="connect-title">
          If you have a need to contact us feel free to use the form below. Or
          email us at <span class="email-style">flowstateflying@gmail.com</span>
        </h3>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-md-8 col-sm-11 text-center">
        <div class="spinner-border text-danger" role="status" id="iframe-loading-contact" style="width: 400px; height: 400px;">
          <span class="sr-only">Loading...</span>
        </div>
        <iframe
          title="connect to us form"
          src="https://docs.google.com/forms/d/e/1FAIpQLSeQ1TPIcWYajwSYc9vfaXML8A38bSkchgc9zkKkEsq94v6Sfg/viewform?embedded=true"
          width="100%"
          height="937"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          onload="document.getElementById('iframe-loading-contact').style.display = 'none';"
          ></iframe
        >
      </div>
    </div>
  </div>
</div>
