@import '../../_variables.sass'

.wrapper
  background-color: $base-tan
  background-image: linear-gradient(15deg, $base-dark-green 100%, $base-tan 100%)
  border-bottom: 5px solid $base-yellow
  border-bottom-left-radius: 50% 60%
  border-bottom-right-radius: 50% 60%
  -webkit-box-shadow: 0px 11px 26px 16px rgba(0,0,0,0.75)
  -moz-box-shadow: 0px 11px 26px 16px rgba(0,0,0,0.75)
  box-shadow: 0px 11px 26px 16px rgba(0,0,0,0.75)
  @media screen and (max-width: 990px)
    border-bottom-left-radius: 0% 0% !important
    border-bottom-right-radius: 0% 0% !important

.container
  width: 80%


#titleLogo
  max-height: 100px
  margin-bottom: -31px
  margin-top: -10px
  margin-right: 25px
  z-index: 9999
  outline: none
  cursor: pointer
  @media screen and (max-width: 990px)
    display: none !important

#logoTwo
  max-height: 100px
  @media screen and (min-width: 990px)
    display: none !important
  @media screen and (max-width: 990px)
    position: absolute
    right: -10px
    top: 0px


.titleLogoMenu
  height: 200px

.navbar
  @media screen and (min-width: 574px) and (max-width: 1100px)
    margin-left: -100px


.nav-link-item
  color: $base-tan
  font-family: $label-cursive-font
  font-size: 24px
  -webkit-box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  -moz-box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  @media screen and (max-width: 990px)
    margin-top: 25px
  &:hover
    color: $base-orange

.active
  color: $base-tan !important


.fa-bars
  color: $base-tan
  padding: 20px
  &:hover
    color: $base-orange

.navbar-toggler
  outline: none

.btn-link
  cursor: pointer
  position: relative
  border: 2px solid $base-dark-orange
  border-radius: 20%
  outline: none
  color: $base-yellow
  background-color: transparent
  white-space: nowrap
  margin-right: 20px
  margin-bottom: 20px
  @media screen and (max-width: 990px)
    justify-content: center
    border: 0px solid $base-dark-orange
    width: 100%
    background-color: $base-brown
  @media screen and (min-width: 574px) and (max-width: 765px)
    margin-right: 5px !important
    margin-left: -5px
  &:hover
    border: 2px solid $base-dark-green
  &--swap
    span
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding: 20px 30px
      font-size: 40px
      box-sizing: border-box
      opacity: 0
      color: black
      transition: 0.35s ease

    &::before
      content: ""
      left: 0
      top: 0
      position: absolute
      width: 0
      height: 100%
      background-size: cover
      background-color: $base-tan
      border-radius: 20%
      transition: 0.5s ease
    &:hover
      &:before
        content: "Send It!"
        width: 100%

      span
        opacity: 1
