<div class="wrapper" *ngIf='flowStore === false'>
  <nav class="container">
    <div class="navbar navbar-expand-lg">
      <a
        class="navbar-toggler"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseMenu"
        aria-label="navbar button"
      >
        <i class="fa fa-bars fa-2x" aria-hidden="true" (click)="changeIcon()"></i>
      </a>

      <div
        class="collapse navbar-collapse"
        id="collapseMenu"
        [ngbCollapse]="isCollapsed"
      >
        <img
          [src]="
            firstIcon === true
              ? '../../assets/images/stateOfFlow3dTan.png'
              : '../../assets/images/flowStateLogo.png'
          "
          alt="Flow State Flower Logo"
          id="titleLogo"
          (click)="changeIcon()"
        />
        <ul class="navbar-nav dropdown">
          <li class="nav-item">
            <a
              routerLinkActive="active"
              routerLink="/home"
              (click)="topScrollAndCollapse()"
              class="nav-link-item btn btn-link btn-link--swap"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLinkActive="active"
              routerLink="/our-story"
              (click)="topScrollAndCollapse()"
              class="nav-link-item btn btn-link btn-link--swap"
            >
              Our Story
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLinkActive="active"
              routerLink="/athletes"
              (click)="topScrollAndCollapse()"
              class="nav-link-item btn btn-link btn-link--swap"
            >
              Team
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLinkActive="active"
              routerLink="/services"
              (click)="topScrollAndCollapse()"
              class="nav-link-item btn btn-link btn-link--swap"
            >
              Services
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLinkActive="active"
              routerLink="/media"
              (click)="topScrollAndCollapse()"
              class="nav-link-item btn btn-link btn-link--swap"
            >
              Media
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLinkActive="active"
              routerLink="/calender"
              (click)="topScrollAndCollapse()"
              class="nav-link-item btn btn-link btn-link--swap"
            >
              Calender
            </a>
          </li>
          <!-- <li class="nav-item">
            <a
              routerLinkActive="active"
              routerLink="/blog"
              (click)="topScrollAndCollapse()"
              class="nav-link-item btn btn-link btn-link--swap"
            >
              Blog
            </a>
          </li> -->
          <li class="nav-item">
            <a
              routerLinkActive="active"
              routerLink="/connect"
              (click)="topScrollAndCollapse()"
              class="nav-link-item btn btn-link btn-link--swap"
            >
              Connect
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLinkActive="active"
              routerLink="/stream"
              (click)="topScrollAndCollapse()"
              class="nav-link-item btn btn-link btn-link--swap"
            >
              Stream
            </a>
          </li>
        </ul>
      </div>
      <img
          [src]="
            firstIcon === true
              ? '../../assets/images/stateOfFlow3dTan.png'
              : '../../assets/images/flowStateLogo.png'
          "
          alt="Flow State Flower Logo"
          id="logoTwo"
          (click)="changeIcon()"
        />
    </div>
  </nav>
</div>
