@import '../../../../../_variables.sass'

.all-product-row
  padding-top: 20px
  background-color: $store-light-green
  height: 100%


.all-products
  height: 100%
  min-height: 300px
  background-color: $store-green
  border-top: 2px solid $store-dark-red
  opacity: 0.75
  @media screen and (max-width: 575px)
    margin-left: 30px !important

.all-card-title
  opacity: 1
  color: $base-dark-green
  -webkit-text-fill-color: $base-tan
  -webkit-text-stroke-width: 2.00px
  text-decoration: none
  font-size: 20px
  font-family: $flow-block
  text-transform: uppercase

.card-text
  opacity: 1
  font-family: $flow-block
  font-size: 15px
  letter-spacing: 1px
  color: $store-dark-red
  -webkit-text-fill-color: $store-light-green
  -webkit-text-stroke-width: 0.5px

.card-redirect
  background-color: $store-light-green
  opacity: 1
  font-family: $flow-block
  font-size: 15px
  letter-spacing: 1px
  border: 1px solid $store-dark-red
  color: $base-tan
  -webkit-text-fill-color: $base-dark-green
  -webkit-text-stroke-width: 0.5px
  text-decoration: none
  text-transform: uppercase
  width: 100%
  margin: 5px
  margin-top: auto
  &:hover
    border-top: 3px solid $store-dark-red
  @media screen and (max-width: 1530px)
    margin: 5px

.about-the-products
  border-top: 1px solid $store-dark-red
  height: 100%
  padding: 20px
  margin-top: 40px
  margin-left: 12px
  text-align: center
  @media screen and (max-width: 1000px)
    margin-left: 0px
    text-align: left
    border-radius: 2px
    border-top-right-radius: 70%
  @media screen and (max-width: 400px)
    margin-left: 12px
    text-align: center
    border-top-right-radius: 2px

.about-the-products-title
  color: $base-tan
  -webkit-text-fill-color: $store-light-green
  -webkit-text-stroke-width: 2.00px
  letter-spacing: 1px
  text-decoration: none
  font-family: $flow-block
  text-transform: uppercase
  font-size: 50px
  @media screen and (max-width: 420px)
    font-size: 30px

.about-the-products-text
  font-family: $flow-block
  font-size: 21px
  color: $base-dark-green
  -webkit-text-fill-color: $base-tan
  -webkit-text-stroke-width: 2.20px
  letter-spacing: .8px
