<div class="row about-the-products">
    <h2 class="col-sm-12 about-the-products-title">{{ productTitle | uppercase}}</h2>
    <p class="col-sm-12 about-the-products-text">
        a collection of our {{ productTitle | lowercase }}
    </p>
</div>
<div class="row all-product-row justify-content-center">
    <div *ngFor="let product of products" [style.backgroundImage]="'url(../' + product.imageUrl + ')'"
        class="card text-right pl-2 m-3 p-3 col-sm-4 col-md-4 col-lg-3 all-products">
        <div class="card-body">
            <div class="card-title all-card-title">{{ product.name }}</div>
            <p class="card-text">{{ product.desc }}</p>
            <p class="card-text">{{ product.price | currency }}</p>
        </div>
        <div class="card-body">
            <a (click)="goToPage(product.id, $event)" class="btn card-redirect">Details
            </a>
            <a (click)="addToCart(product.id)" class="btn card-redirect">Add To Cart
            </a>
        </div>
    </div>
</div>