<div class="container lower-margin-for-footer">
  <div class="row justify-content-center">
    <div
      class="cards cardOne col-lg-5 col-md-8 col-sm-8 p-3"
    >
      <div class="row p-3 justify-content-center">
        <p class="card-description mt-auto">{{ cardText.story }}</p>

        <a class="bt more-bt mt-auto" (click)="goToPage('story', $event)">
          <span class="fl"></span><span class="sfl"></span
          ><span class="cross"></span><i></i>
          <p class="card-button">Read Our Story</p>
        </a>
      </div>
    </div>
    <div
      class="cards cardTwo col-lg-5 col-md-8 col-sm-8 p-3 text-center"
    >
      <div class="row p-3 justify-content-center">
        <p class="card-description mt-auto">{{ cardText.team }}</p>

        <a class="bt more-bt mt-auto" (click)="goToPage('team', $event)">
          <span class="fl"></span><span class="sfl"></span
          ><span class="cross"></span><i></i>
          <p class="card-button">Our Team!</p>
        </a>
      </div>
    </div>
    <div
      class="cards cardThree col-lg-5 col-md-8 col-sm-8 p-3 text-center"
    >
      <div class="row p-3 justify-content-center">
        <p class="card-description mt-auto">{{ cardText.calender }}</p>

        <a class="bt more-bt mt-auto" (click)="goToPage('calender', $event)">
          <span class="fl"></span><span class="sfl"></span
          ><span class="cross"></span><i></i>
          <p class="card-button">Calender Events</p>
        </a>
      </div>
    </div>
    <div
      class="cards cardFour col-lg-5 col-md-8 col-sm-8 p-3 text-center"
    >
      <div class="row p-3 justify-content-center">
        <p class="card-description mt-auto">{{ cardText.media }}</p>

        <a class="bt more-bt mt-auto" (click)="goToPage('media', $event)">
          <span class="fl"></span><span class="sfl"></span
          ><span class="cross"></span><i></i>
          <p class="card-button">Media Content</p>
        </a>
      </div>
    </div>
  </div>
</div>
