@import '../../../../_variables.sass'

.cardOne
  background: url(../../../../assets/images/swoopSeb.jpg)

.cardTwo
  background: url(../../../../assets/images/xrw.jpg)

.cardThree
  background: url(../../../../assets/images/indy-onesie.jpg)

.cardFour
  background: url(../../../../assets/images/alex-angle.jpg)

.card-description
  font-family: $label-cursive-font
  font-size: 25px
  background-color: white
  color: black
  border: 1px solid $base-yellow
  border-radius: 10px
  opacity: .7
  radius: 10px
  padding: 5px
  -webkit-box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  -moz-box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  &:hover
    background-color: $base-tan
    color: $base-dark-green
    border: 1px solid $base-yellow

.cards
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border-radius: 5px
  opacity: .90
  height: 400px
  transform-style: preserve-3d
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275)
  -radius: 70px 5px
  cursor: pointer
  margin: 30px
  -webkit-box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  -moz-box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  box-shadow: 8px 6px 30px 10px rgba(0,0,0,0.75)
  text-align: center

  div
    width: 100%
    height: 100%
    -radius: 6px
    display: flex
    color: #47525D

  &.flipped
    transform: rotateY(180deg)

body
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  align-items: center

.bt
  width: 120px
  cursor: pointer
  position: relative
  font-family: $label-cursive-font
  text-transform: uppercase
  color: #503af6
  letter-spacing: 0.5px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  outline: none
  text-decoration: none
  text-align: center

.more-bt
  -right: 2px solid $base-dark-green
  -bottom: 2px solid $base-dark-green
  padding: 17px 29px 15px 31px
  -color: $base-dark-green
  background-color: $base-tan
  opacity: .85

.more-bt p
  font-size: 15px

#wrapper.smooth section.smoothy.show
  visibility: visible

.more-bt:before
  left: 0
  bottom: 0
  height: -webkit-calc(100% - 17px)
  height: calc(100% - 17px)
  width: 2px

.more-bt:after, .more-bt:before
  content: ""
  display: block
  background: $base-dark-green
  position: absolute
  -webkit-transition: .5s
  transition: .5s
  z-index: 10

.more-bt:after
  top: 0
  right: 0
  width: -webkit-calc(100% - 17px)
  width: calc(100% - 17px)
  height: 2px

.more-bt:after, .more-bt:before
  content: ""
  display: block
  background: $base-dark-green
  position: absolute
  -webkit-transition: .5s
  transition: .5s
  z-index: 10

::selection
  background: $base-dark-green
  color: $base-dark-green
  text-shadow: none

.more-bt:before
  left: 0
  bottom: 0
  height: -webkit-calc(100% - 17px)
  height: calc(100% - 17px)
  width: 2px

.more-bt:after, .more-bt:before
  content: ""
  display: block
  background: $base-dark-green
  position: absolute
  -webkit-transition: .5s
  transition: .5s
  z-index: 10

.more-bt .fl, .more-bt .sfl
  position: absolute
  right: 0
  height: 100%
  width: 0
  z-index: 2
  background: $base-dark-green
  top: 0
  -webkit-transition: .5s
  transition: .5s
  -webkit-transition-delay: .1s
  transition-delay: .1s

.more-bt .fl, .more-bt .sfl
  position: absolute
  right: 0
  height: 100%
  width: 0
  z-index: 2
  background: $base-dark-green
  top: 0
  -webkit-transition: .5s
  transition: .5s
  -webkit-transition-delay: .1s
  transition-delay: .1s

.more-bt .sfl
  z-index: 1
  background: $base-dark-green
  -webkit-transition: .7s
  transition: .7s

.more-bt .cross
  position: absolute
  z-index: 15
  width: 18px
  height: 18px
  top: -webkit-calc(50% - 8px)
  top: calc(50% - 8px)
  left: -webkit-calc(50% - 8px)
  left: calc(50% - 8px)

#wrapper.smooth section.smoothy
  visibility: hidden

.more-bt .cross:before
  width: 100%
  height: 2px
  top: 8px
  left: 0px
  -webkit-transform: translateX(50px) scaleX(0)
  -ms-transform: translateX(50px) scaleX(0)
  transform: translateX(50px) scaleX(0)

.more-bt .cross:before, .more-bt .cross:after
  content: ""
  background: $base-yellow
  display: block
  position: absolute
  opacity: 0
  -webkit-transition-duration: .3s
  transition-duration: .3s
  -webkit-transition-delay: 0s
  transition-delay: 0s
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)

.more-bt .cross:after
  width: 2px
  height: 100%
  left: 8px
  top: 0
  -webkit-transform: translateY(20px) scaleY(0)
  -ms-transform: translateY(20px) scaleY(0)
  transform: translateY(20px) scaleY(0)
  -webkit-transition-duration: .4s
  transition-duration: .4s

.more-bt .cross:before, .more-bt .cross:after
  content: ""
  background: $base-dark-green
  display: block
  position: absolute
  opacity: 0
  -webkit-transition-duration: .3s
  transition-duration: .3s
  -webkit-transition-delay: 0s
  transition-delay: 0s
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)

.more-bt i
  position: absolute
  display: block
  top: 1px
  left: 1px
  -webkit-transition: .5s
  transition: .5s
  z-index: 10

.more-bt i:before
  -webkit-transform: rotate(90deg)
  -ms-transform: rotate(90deg)
  transform: rotate(90deg)

.more-bt i:after, .more-bt i:before
  content: ""
  display: block
  width: 2px
  height: 20px
  background: $base-dark-green
  position: absolute
  margin: -10px -1px
  left: 50%
  top: 50%
  transition: 0.3s

.more-bt:hover i:after
  padding-top: 40px
  content: "IT"
  color: $base-orange
  display: block
  width: 2px
  height: 20px
  background: $base-dark-green
  position: absolute
  margin: 0px -1px
  left: 50%
  top: 50%

.more-bt:hover i:before
  content: "SEND"
  color: $base-dark-green
  display: block
  width: 2px
  height: 20px
  background: $base-yellow
  position: absolute
  margin: -10px 0px -10px 8px
  left: 50%
  top: 50%

.more-bt p
  -webkit-transition: .5s
  transition: .5s
  position: relative
  z-index: 1

.more-bt:hover:before, .more-bt:before
  height: 100%

.more-bt:before
  left: 0
  bottom: 0
  height: -webkit-calc(100% - 17px)
  height: calc(100% - 17px)
  width: 2px

.more-bt:hover .fl, .more-bt .fl
  -webkit-transition: .7s
  transition: .7s

.more-bt:hover .fl, .more-bt:hover .sfl, .more-bt .fl, .more-bt .sfl
  -webkit-transition-delay: 0s
  transition-delay: 0s
  width: 100%

.more-bt .fl, .more-bt .sfl
  position: absolute
  right: 0
  height: 100%
  width: 0
  z-index: 2
  background: $base-tan
  top: 0
  -webkit-transition: .5s
  transition: .5s
  -webkit-transition-delay: .1s
  transition-delay: .1s

.more-bt:hover .sfl, .more-bt .sfl
  -webkit-transition: .5s
  transition: .5s

.more-bt:hover .fl, .more-bt:hover .sfl, .more-bt.hvd .fl, .more-bt.hvd .sfl
  -webkit-transition-delay: 0s
  transition-delay: 0s
  width: 100%

.more-bt .sfl
  z-index: 1
  background: $base-orange
  -webkit-transition: .7s
  transition: .7s

.more-bt .cross
  position: absolute
  z-index: 15
  width: 18px
  height: 18px
  top: -webkit-calc(50% - 8px)
  top: calc(50% - 8px)
  left: -webkit-calc(50% - 8px)
  left: calc(50% - 8px)

.more-bt:hover .cross:before, .more-bt .cross:before
  -webkit-transition-duration: .5s
  transition-duration: .5s

.more-bt:hover .cross:after, .more-bt:hover .cross:before, .more-bt .cross:after, .more-bt .cross:before
  -webkit-transform: none
  -ms-transform: none
  transform: none
  opacity: 1
  -webkit-transition-delay: .2s
  transition-delay: .2s

.more-bt .cross:after
  width: 2px
  height: 100%
  left: 8px
  top: 0
  -webkit-transform: translateY(20px) scaleY(0)
  -ms-transform: translateY(20px) scaleY(0)
  transform: translateY(20px) scaleY(0)
  -webkit-transition-duration: .4s
  transition-duration: .4s

.more-bt .cross:before, .more-bt .cross:after
  content: ""
  background: $base-dark-green
  display: block
  position: absolute
  opacity: 0
  -webkit-transition-duration: .3s
  transition-duration: .3s
  -webkit-transition-delay: 0s
  transition-delay: 0s
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1)

.more-bt:hover .cross:after, .more-bt:hover .cross:before, .more-bt.hvd .cross:after, .more-bt.hvd .cross:before
  -webkit-transform: none
  -ms-transform: none
  transform: none
  opacity: 1
  -webkit-transition-delay: .2s
  transition-delay: .2s

.more-bt:hover .cross:after, .more-bt.hvd .cross:after
  -webkit-transition-duration: .6s
  transition-duration: .6s

.card-button
  color: $base-dark-green
