@import '../../../_variables.sass'

.shopping-cart-wrapper
    margin-top: 20px
    height: 100%

.cart-image
    height: 60px

table.table
    @media (max-width: 768px)
        display: none

.mobile-product-cart-item
    display: none
    @media (max-width: 768px)
        display: inline

.cart-mobile-item
    border: 1px solid $base-tan
    background-color: $store-light-green
    height: 100%
    min-height: 220px
    margin: 10px

.about-the-cart
    border-top: 1px solid $store-dark-red
    background-color: $store-green
    height: 100%
    padding: 20px
    margin-top: 80px

.about-the-cart-title
    color: $base-dark-green
    -webkit-text-fill-color: $base-tan
    -webkit-text-stroke-width: 2.00px
    text-decoration: none
    font-family: $flow-block
    text-transform: uppercase

.about-the-cart-text
    font-family: $flow-block
    font-size: 19px
    color: $store-dark-red
    -webkit-text-fill-color: $store-light-green
    -webkit-text-stroke-width: 0.55px
    letter-spacing: .8px

.control
    width: 25%
    margin-right: 10px
    background-color: $base-tan
    color: $base-dark-green

.quantity-btn
    background-color: $store-light-green
    opacity: 1
    font-family: $flow-block
    font-size: 15px
    letter-spacing: 1px
    border: 1px solid $store-dark-red
    color: $base-tan
    -webkit-text-fill-color: $base-dark-green
    -webkit-text-stroke-width: 0.5px
    text-decoration: none
    text-transform: uppercase
    width: 33%
    margin: 2px
    &:hover
        color: $base-tan
        border-top: 3px solid $store-dark-red  
    @media (max-width: 770px)
        width: 50%
        margin: 1px
        font-size: 12px

.font-style-cart
    color: $base-dark-green
    -webkit-text-fill-color: $base-tan
    -webkit-text-stroke-width: 1.00px
    text-decoration: none
    font-family: $flow-block
    text-transform: uppercase
    font-size: 20px
    @media screen and (max-width: 850px) and (min-width: 520px)
        font-size: 16px

.border-color
    border-color: $base-dark-green !important

.border-color-tan
    border-color: $base-tan !important