<div class="row text-center about-the-cart">
  <h2 class="col-sm-12 about-the-cart-title">Your Flow State Shopping Cart</h2>
  <p class="col-sm-12 about-the-cart-text">
    We would like to thank you for your support of our Movement! You are awesome!
  </p>
</div>
<div class="container shopping-cart-wrapper">
  <table *ngIf="cart !== null" class="border-color table table-bordered">
    <thead>
      <tr>
        <th class="border-color font-style-cart" scope="col">Product</th>
        <th class="border-color font-style-cart" scope="col">Image</th>
        <th class="border-color font-style-cart" scope="col">Quantity</th>
        <th class="border-color font-style-cart" scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cart">
        <th class="border-color-tan font-style-cart">{{ product.product.name }}</th>
        <td class="border-color-tan"><img class="cart-image" src="{{ product.product.imageUrl }}"></td>
        <td class="border-color-tan" scope="row">
          <input class="control" type="number" [(ngModel)]="product.quantity">
          <a class="quantity-btn btn" *ngIf="product.quantity > 0" (click)="editItem(product.product.id, product.quantity)">Edit</a>
          <a class="quantity-btn btn" (click)="removeItem(product.product.id)">Remove</a>
        </td>
        <td class="border-color-tan font-style-cart">{{ product.product.price | currency }}</td>
      </tr>
      <tr>
        <th class="border-color-tan font-style-cart">Total</th>
        <td colspan="2"></td>
        <td class="border-color-tan font-style-cart">{{ totalCost | currency }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="cart !== null" class="row mobile-product-cart-item text-center">
    <div class="col-sm-11 cart-mobile-item" *ngFor="let product of cart">
      <div class="col-sm-12 p-2 font-style-cart">{{ product.product.name }}</div>
      <div class="col-sm-12 p-2"><img class="cart-image" src="{{ product.product.imageUrl }}"></div>
      <div class="col-sm-12 p-2">
        <input [(ngModel)]="product.quantity">
      </div>
      <div class="col-sm-12 p-2">
        <a class="btn quantity-btn p-2" (click)="removeItem(product.product.id)">Remove</a>
        <a class="btn quantity-btn p-2" *ngIf="product.quantity > 0" (click)="editItem(product.product.id, product.quantity)">Edit</a>
      </div>
      <div class="col-sm-12 p-2 font-style-cart">{{ product.product.price | currency }}</div>
    </div>
    <div class="col-sm-11">
      <div class="col-sm-5 font-style-cart">Total</div>
      <div class="col-sm-5 font-style-cart">{{ totalCost | currency }}</div>
    </div>
  </div>
  <!-- <a [routerLink]="['/shop/products']" class="btn homepage-product-button">Checkout</a>
  <a (click)="goToCheckout()" class="btn btn-primary">Checkout Button</a> -->
</div>
