@import '../../../_variables.sass'

.productsContainer
    width: 100%
    height: 100%
    background-color: $store-light-green
    padding: 0px
    margin-bottom: 80px
    padding-right: 15px
    @media screen and (max-width: 400px)
        margin-top: 80px

.store-nav-button
    color: $base-dark-green
    -webkit-text-fill-color: $base-tan
    -webkit-text-stroke-width: 2.00px
    text-decoration: none
    font-size: 20px
    font-family: $flow-block
    text-transform: uppercase
    z-index: 9
    margin-right: 35px
    &:hover
        -webkit-text-stroke-width: 1.50px
        color: $store-dark-red

div.scrollmenu
    margin-left: auto
    padding: 10px
    width: 50%
    overflow: auto
    white-space: nowrap
    border-radius: 0px 0px 50px 0px
    margin-top: -20px
    @media screen and (max-width: 1040px)
        width: 100%
    @media screen and (max-width: 610px)
        margin-top: 10px
    @media screen and (max-width: 400px)
        margin-bottom: -50px

div.scrollmenu a
    display: inline-block
    padding-left: 0px
    padding-right: 10px

.arrow
    color: $store-dark-red
    -webkit-text-fill-color: $store-green
    -webkit-text-stroke-width: 0.50px
    margin-bottom: 20px
    @media screen and (min-width: 600px)
        display: none !important