<div class="productsContainer">
    <div class="text-right">

        <div class="scrollmenu">
            <a routerLinkActive="active" [routerLink]="['/shop/products/all']" class="btn store-nav-button">All
            </a>
            <a routerLinkActive="active" [routerLink]="['/shop/products/jerseys']" class="btn store-nav-button">Jerseys
            </a>
            <a routerLinkActive="active" [routerLink]="['/shop/products/short-sleeves']"
                class="btn store-nav-button">Short Sleeves
            </a>
            <a class="btn store-nav-button" [routerLink]="['/shop/products/accessories']"
                routerLinkActive="active">Accessories
            </a>
            <div class="row justify-content-around">
                <div class="fa fa-long-arrow-left fa-2x arrow"></div>
                <div class="fa fa-long-arrow-right fa-2x arrow"></div>
            </div>
        </div>
    </div>
    <div [@storeProductsRouteAnimations]="prepareRoute(storeProductsOutlet)" >
        <router-outlet #storeProductsOutlet="outlet"></router-outlet>
      </div>
</div>