// Google Fonts

@font-face
  font-family: 'Work Sans'
  font-style: normal
  font-weight: 900
  font-display: swap
  src: local('Work Sans Black'), local('WorkSans-Black'), url('/assets/fonts/store-box-font.woff2') format('woff2')

@font-face
 font-family: 'flowFont'
 font-display: swap
 src: url('/assets/fonts/Ancient.ttf') format('truetype')

@font-face
  font-family: 'Caveat'
  font-style: normal
  font-weight: 1000
  font-display: swap
  src: local('Caveat Regular'), local('Caveat-Regular'), url('/assets/fonts/Caveat-Regular.ttf') format('truetype')

@font-face
  font-family: 'Permanent Marker'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url('/assets/fonts/PermanentMarker-Regular.ttf') format('truetype')

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto/Roboto-Regular.ttf') format('truetype')

// @font-face
//   font-family: 'Pacifico'
//   font-style: normal
//   font-weight: 400
//   font-display: swap
//   src: local('Pacifico Regular'), local('Pacifico-Regular'), url('/assets/fonts/Pacifico-Regular.ttf') format('truetype')

$base-tan: #fef9d9
$base-orange: #ce7d00
$base-dark-orange: #935900
$base-dark-green: #00541a
$base-yellow: #ffd026
$base-gray: #a8a8a7
$base-brown: #523e1b

$store-green: #68762f
$store-dark-blue: #73d2f5
$store-orange: #fca465
$store-tan: #ccc4be
$store-brown: #4a2f2b
$store-light-green: #b3bd97
$store-dark-red: #9e0803

$label-cursive-font: 'Caveat'
$text-roboto: 'Roboto'
// $text-pacifico : 'Pacifico'
$font-fancy: 'Permanent Marker'
$flow-font: 'flowFont'
$flow-block: 'Work Sans', sans-serif
