
<div class="storeFrontContainer">
      <div class="color-line row">

        <div class="mr-auto">
          <img
          src='../../assets/images/stateOfFlow3dTan.png'
          alt="Flow State Flower Logo"
          id="titleLogo"
        />
      </div>
      <a
          routerLinkActive="active"
          routerLink="/home"
          class="btn store-back-button"
        >
          Home Website
        </a>
      </div>
  <div class="text-right">

      <div class="scrollmenu">
        <a
          class="btn store-nav-button"
          routerLink='/shop'
          routerLinkActive="active"
          >Store
        </a>
        <a
        routerLinkActive="active"
        [routerLink]="['/shop/products']"
        class="btn store-nav-button"
        >Products
        </a>
        <a
          *ngIf="this.cartView === false"
          routerLinkActive="active"
          (click)="goToPage('cart', $event)"
          class="btn store-nav-button cart-button"
          [class.cart-on-screen-top]="this.cartInView === false"
          ><i 
            class="fa fa-shopping-cart fa-2x"
            [class.cart-quantity-new-item-color]="newItemAdded === true">
          </i>
          <span 
            *ngIf="cartQuantity !== null" 
            class="cart-quantity" 
            [class.cart-quantity-new-item-color]="newItemAdded === true"
            > {{ cartQuantity }}
          </span>
        </a>
        <div class="row justify-content-around">
            <div class="fa fa-long-arrow-left fa-2x arrow"></div>
            <div class="fa fa-long-arrow-right fa-2x arrow"></div>
        </div>
      </div>
  </div>
  <div [@storeRouteAnimations]="prepareRoute(storeOutlet)" >
    <router-outlet #storeOutlet="outlet"></router-outlet>
  </div>
</div>
