@import '../../../_variables.sass'

.storeFrontContainer
  width:100%
  height: 100%
  background-color: $store-light-green
  padding: 0px
  padding-bottom: 100px
  padding-right: 15px

div.scrollmenu
  padding: 10px
  width:100%
  overflow: auto
  white-space: nowrap
  border-radius: 0px 0px 50px 0px
  margin-top: -20px
  @media screen and (max-width: 400px)
    margin-bottom: -120px

div.scrollmenu a
  display: inline-block
  padding-left: 20px
  padding-right: 20px

.store-nav-button
  color: $base-dark-green
  -webkit-text-fill-color: $base-tan
  -webkit-text-stroke-width: 2.00px
  text-decoration: none
  font-size: 29px
  font-family: $flow-block
  text-transform: uppercase
  z-index: 9
  margin-right: 35px
  &:hover
    -webkit-text-stroke-width: 1.50px
    color: $store-dark-red

.store-back-button
  color: $base-dark-green
  -webkit-text-fill-color: $base-tan
  -webkit-text-stroke-width: 2.00px
  text-decoration: none
  font-size: 29px
  font-family: $flow-block
  text-transform: uppercase
  z-index: 9
  margin-right: 150px
  @media screen and (max-width: 600px)
    margin-right: 0px
    font-size: 25px
  &:hover
    color: $store-green

.active
  color: $base-tan
  -webkit-text-fill-color: $base-dark-green

.arrow
  color: $base-dark-green
  -webkit-text-fill-color: $base-tan
  -webkit-text-stroke-width: 2.00px
  margin-bottom: 20px
  @media screen and (min-width: 600px)
    display: none !important

#titleLogo
  position: absolute
  top: 20px
  left: 50px
  z-index: 11
  @media screen and (min-width: 1100px)
    height: 310px !important
    left: 150px
    top: 5px
  @media screen and (max-width: 1100px)
    height: 200px
  @media screen and (max-width: 960px)
    height: 150px
  @media screen and (max-width: 790px)
    height: 90px
  @media screen and (max-width: 450px)
    height: 50px
    left: 10px


.color-line
  height: 100px
  border-radius: 0px 0px 100px 0px
  width: 100% !important
  background: url(../../../assets/images/wall.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-position-y: -45px
  @media screen and (min-width: 800px)
    background-position-y: -150px
  @media screen and (max-width: 600px)
    margin-bottom: 30px
    width: 100% !important
    border-radius: 0px 0px 100px 0px


.color-line-two
  background-color: white
  height: 40px

.cart-quantity
  font-family: $font-fancy
  font-size: 40px

.cart-quantity-new-item-color
  color: $store-dark-red

.cart-on-screen-top
  position: fixed 
  top: 0 
  right: 0 
  border: 0
  @media screen and ( max-width: 601px )
    top: 46px
    

// #collection-component-1571369379016
//   display: inline-block !important
