<div class="athletes-container d-flex justify-content-center lower-margin-for-footer">
  <div class="container lower-margin-for-footer">
    <div class="row">
      <h2 class="athlete-title p-2">
        Introducing the people helping this project grow.
      </h2>
    </div>
    <div class="row justify-content-center">
      <p class="athlete-p">Meet The Team!</p>
    </div>
    <app-athletes-cards></app-athletes-cards>
  </div>
</div>
