@import '../../../_variables.sass'


.athletes-container
  height: 100%
  background-color: $base-brown
  padding-bottom: 40px

.athlete-title
  font-size: 40px
  font-family: $label-cursive-font
  color: $base-orange

.athlete-p
  font-size: 40px
  font-family: $flow-font
  color: $base-dark-green

.container
  border: 7px double $base-dark-green
  border-radius: 10px
  height: 100%
  background-color: $base-tan
  opacity: .75
  -webkit-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
  -moz-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
  box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75)
  margin-bottom: 100px
